# server #
SERVER_PORT=8019
SERVER_SECRET="mySecretKey"
SERVER_ENCKEY="some 32 length key like that"
SERVER_ACCESSTOKENEXPIREDURATION=2
REQUEST_PER_SECOND=6
TRUSTED_PROXIES=["192.168.0.1", "192.168.0.2"]
EXEMPT_FROM_THROTTLE=["127.0.0.1", "192.168.0.2", "::1"]

# App #
APP_NAME=local
APP_URL=http://localhost:8019
RESET_PASSWORD_DURATION=6
WEBHOOK_API_URL="http://ping.something.again"
FRONTEND_URL=http://staging.telex.im

# Databases #
DB_HOST=localhost
DB_PORT=5432
DB_CONNECTION=pgsql
TIMEZONE=Africa/Lagos
SSLMODE=disable
USERNAME=postgres
PASSWORD=password
DB_NAME=db_name
MIGRATE=false

# Test #
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_CONNECTION=pgsql
TEST_TIMEZONE=Africa/Lagos
TEST_SSLMODE=disable
TEST_USERNAME=postgres
TEST_PASSWORD="password"
TEST_DB_NAME=db_name
TEST_MIGRATE=true


# IPSTACK
IPSTACK_KEY=key
IPSTACK_BASE_URL=http://api.ipstack.com


# MAIL
MAIL_SERVER=smtp.gmail.com
MAIL_PASSWORD=Some_Strong_Password_
MAIL_USERNAME=Some_Cool_Email_
MAIL_PORT=587


# Redis
REDIS_PORT=6379
REDIS_HOST="0.0.0.0"
REDIS_DB="0"


# Centrifuge
HMAC_SECRET=DoHardThings
CENTRIFUGE_URL="some_url_here"
CENTRIFUGE_API_KEY="centrifugo_api_key_here"

# Agora (for huddle audio/video)
AGORA_APP_ID="your-agora-app-id"
AGORA_APP_CERTIFICATE="your-agora-app-certificate"

# Minio
MINIO_ENDPOINT=SOmeUrlLikeThat
BUCKET_NAME=SomeCoolBucket
BUCKET_ACCESS_KEY=BucketAccessDenied
BUKCET_SECRET_KEY=NoSecretInBucket
MINIO_USE_SSL=true

# Typesense
TYPESENSE_API_URL=http://serverurl.com
TYPESENSE_API_KEY=SomeCoolKey

#SlackTelex
SLACK_CLIENT_ID=some_id_here
SLACK_CLIENT_SECRET=something
SLACK_REDIRECT_URI=https://staging.telex.im/dashboard/oauth/slack 
SLACK_BASE_URL=https://slack.com
SLACK_MANIFEST_URL=https://slack.com/api/apps.manifest.export

# typesense
TYPESENSE_API_URL=http://localhost:8108
TYPESENSE_API_KEY=typesensetestapikey

# Stripe
STRIPE_KEY=sk_******
STRIPE_BASIC_ID= basic_id
STRIPE_ADVANCED_ID= advanced_id
STRIPE_PREMIUM_ID= premium_id
SLACK_REFRESH_TOKEN=some-refresh-token


# Audit Channels
TELEX_LOGIN_CHANNEL=ChannelID
TELEX_SIGNUP_CHANNEL=ChannelID

#RabbitMQ
RABBITMQ_CONNECTION="amqp://<username>:<password>@<host>:<port>/<vhost>"
RABBITMQ_EXCHANGE=some_exchange

# ElasticSearch Configuration
ELASTIC_URL=https://someurl.like.that
ELASTIC_API_KEY="nothing_is_false"

# Firebase Service File Path
FIREBASE_SERVICE_FILE_PATH="path_to_firebase_service_file"

#MongoDB
MONGO_URI=
MONGO_DB_NAME=

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1


#GOOGLE
GOOGLE_CLIENT_ID=some_id_here
GOOGLE_CLIENT_SECRET=something
GOOGLE_REDIRECT_URI=http://some-redirect_url.here
