<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Telex Organisation Invitation</title>
</head>

<body style="background-color: #f5f5f5; font-family: Arial, sans-serif; margin: 0; padding: 0">
  <table width="100%" bgcolor="#f5f5f5" cellpadding="0" cellspacing="0"
    style="max-width: 600px; margin: auto; background: #ffffff;">
    <tr>
      <td align="center" style="padding:50px 10px 30px 10px">
        <img src="https://media.tifi.tv/telexbucket/public/logos/magic-link.png" alt="Illustration" width="250"
          style="display: block;" />
      </td>
    </tr>

    <tr>
      <td style="padding: 0px 30px;">
        <h2 style="color: #000000;font-size:20px;text-align:center">You've Been Invited to Telex</h2>

        <h4 style="color: #666666; font-size: 15px;">Hi {{ .firstname }},</h4>
        <p style="color: #666666; font-size: 14px; line-height: 1.5;">
          {{ .inviter_name }} from {{ .organisation_name }} has invited you to join their organization on Telex.
          This invitation gives you access to collaborate and stay connected with your organization.
        </p>

        <p style="color: #666666; font-size: 14px; line-height: 1.5;">
          <strong>Important:</strong> This invitation link is valid for 48 hours and can only be used once.
        </p>
      </td>
    </tr>

    <tr>
      <td align="center">
        <a href="{{.invitation_link}}" style="
          display: inline-block;
          background-color: #7c50f8;
          color: #ffffff;
          padding: 12px 24px;
          text-decoration: none;
          border-radius: 5px;
          font-size: 14px;
          margin:0 auto;
          margin-top: 10px;
        ">Accept Invite</a>
      </td>
    </tr>

    <tr>
      <td style="padding: 40px 30px; font-size: 12px;">
        Regards,<br /><br />
        The Telex Team
      </td>
    </tr>

    <tr>
      <td align="center" style="font-size: 12px; color: #999999; padding: 50px 30px; background-color: #F9FAFB">
        Thank you for choosing Zedu.Chat Need help? <a href="{{ .contact_us_url }}" style="color: #7c50f8;">Contact our
          customer
          support</a>.
        <br /><br />
        You are receiving this email because you were invited to Telex by {{ .inviter_name }}. Want to change how you
        receive these
        emails?
        <br /><br />
        You can <a href="#" style="color: #7c50f8;">update your preferences</a> or <a href="#"
          style="color: #7c50f8;">unsubscribe</a> from this list.
      </td>
    </tr>
  </table>
</body>

</html>